body {
  background-color: #f2f3f6;
}

header {
  background-color: black;
}

.menu {
  text-align: center;
  font-size: 18px;
  padding: 2% 4%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}
