body {
    margin: -8px;
    margin-top: -21px;
}

.vegImg {
    margin-top: 21px;
    margin-left: 16px;
}


ul {
 list-style-type: none;
 margin: 0px;
 margin-top: 18px;
 padding: 0;
 overflow: hidden;
 background-color: #438106;
 position: sticky;
}
  
li { 
 float: left;
 border-right:1px solid #bbb;
}
  
li:last-child {
 border-right: none;
}
  
li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
  
li a:hover:not(.active) {
 background-color: #111;
}
  
.active {
 background-color: #4CAF50;
}
/*responsive para el header, cambia el tamaño de las letras segun el porte de la pantalla*/
@media screen and (max-width: 540px){
    .divHeader{
        font-size: 9px;
    }
    .imgHeader{
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width: 541px) and (max-width: 720px){
    .divHeader{
        font-size: 18px;
    }
    .imgHeader{
        width: 50px;
        height: 50px;;
    }
}
@media screen and (min-width: 721px){
    .divHeader{
        font-size: 20px;
    }
    .imgHeader{
        width: 60px;
        height: 60px;;
    }
}
